.complex__works_img {
  margin: 5%;
}
/* .consultation {
  margin: 4% 6% 6%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.gallery-container {
  padding: 0px 8%;
}

.consultation {
  margin: 4% 0% 6%;
} */
