.complex__works_img {
  margin: 5%;
}

.gallery__wrapper {
  grid-auto-rows: 200px;
}
.image {
  background: var(--bg-5) center / cover;
}
.image:nth-child(9) {
  grid-column: span 2;
}
.image:nth-child(10) {
  grid-column: span 2;
}
