.swiper-pagination {
  text-align: center;
  position: relative;
  bottom: 10px; /* Регулируйте отступ от слайдера в зависимости от ваших потребностей */
}
.swiper-pagination-custom {
  position: relative;
}

.swiper {
  width: 600px;
  height: 466px;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: auto;
  border-radius: 4px;
}
.swiper-slide.swiper-slide-active img {
  border-radius: 4px;
}
.swiper-slide.swiper-slide-prev img {
  border-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent);
}
