body {
  color: var(--basic);
}
.lightgallery {
  display: flex;
}
.fs-page-1 {
}
.header__services {
  margin-bottom: 8% !important;
}
.link-services {
  text-decoration: none;
  color: var(--basic);
  font-weight: 500;
  font-size: 14px;
}
.link-services:hover {
  color: var(--accent);
}
.fs-page-1__intro {
  font-size: 14px;
}
.link_main {
  text-decoration: none;
  color: var(--accent);
  margin-bottom: 20px;
}

.services-desc {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin: 20px 0 50px 0;
}
.services-desc__title {
  font-size: 50px;
  font-family: var(--heading);
  font-weight: 600;
  text-transform: uppercase;
}

.fs-page-1__img {
  width: 100%;
}
.services-desc__info {
  margin-left: 40%;
  line-height: 1.8em;
  font-size: 17px;
  position: relative;
  top: 17%;
}

.complex-services {
}
.complex-services__container {
  margin: 13% 20% 50px;
}
.complex-services__title {
  font-weight: 500;
  font-family: var(--heading);
  font-size: 80px;
}
.complex-services__desc {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.complex-services__container_info {
  width: 60%;
  height: 80%;
  left: 20%;
  position: relative;
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
}
.work {
  border-top: 1px solid var(--secondary_light);
  height: 80px;
  position: relative;
  line-height: 80px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--heading);
}

.complex__works {
  display: flex;
  flex-direction: column;
}
.work span:last-child {
  border-bottom: 1px solid var(--secondary_light);
}

.consultation {
  margin: 4% 20% 6%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.complex-services__container {
}
.consultation__title {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--heading);
}

.article {
  margin: 12% 26% 6%;
}
.article__title {
  font-size: 40px;
  font-family: var(--heading);
}
.article__text {
  margin-top: 50px;
  display: block;
  height: 400px;
  outline: none;
  overflow: hidden;
  line-height: 1.8em;
}
.read-more {
  cursor: pointer;
  appearance: none;
  border: 0;
  padding: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  left: 69%;
  margin-top: 3%;
  position: relative;
}
.article__text:focus,
:focus ~ .article__text {
  height: auto;
}

.img-main {
  margin-top: 12%;
}
.img-main__base {
  width: 100%;
}
