.fs {
  background: url(img/bg.png) center / cover;
}

.fs__info {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-column-gap: 20%;
  grid-template-rows: 1fr;
  /* margin: -12% auto; */
}

.fs__title {
  font-size: 50px;
  line-height: 1.3em;
}
.fs__desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.gallery {
  margin-top: 10%;
}
.cards-info {
  margin-top: 10%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 5%;
  grid-auto-rows: 8em;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 420px;
  border-radius: 4px;
}
.card-info:hover {
  background-color: var(--accent);
  color: var(--light);
}
.card-info__title {
  margin-bottom: 6%;
  font-weight: 600;
  font-family: var(--heading);
  font-size: 20px;
}

.card-info > span {
  font-size: 18px;
}

.complex-services {
  margin-top: 10%;
}

/* Gallery */
.gallery__wrapper {
  grid-auto-rows: 360px;
}
.image {
  /* background: url(img/gallery/gal-1.png); */
  background: var(--bg-6) center / cover;
}
.image:nth-child(3) {
  grid-column: span 2;
}
.image:nth-child(4) {
  grid-column: span 2;
}
.image:nth-child(8) {
  grid-column: span 2;
}
